# Binaries
.gradle/
build/

# Runtime
bin/
dist/
run/

# IDE Config
.settings/
.classpath
.project

# Launcher Test Run Directory
testLauncher/

# OS X
.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# ACT
.actrc
.secrets

# Other
java_pid*.hprof
*.log
mockserver_keystore_*

# crowdin config
crowdin.yml
