# Binaries
.gradle/
build/

# Runtime
bin/
dist/
run/

# IDE Config
.settings/
.classpath
.project
.idea/

# Launcher Test Run Directory
testLauncher/

# OS X
.DS_Store

# ACT
.actrc
.secrets

# Other
java_pid*.hprof
*.log
mockserver_keystore_*

# crowdin config
crowdin.yml
