<?xml version="1.0" encoding="UTF-8"?>
<configuration status="ERROR" packages="com.atlauncher.log4j2">
	<appenders>
		<ATLauncher-Console>

		</ATLauncher-Console>
		<File name="File-Output" fileName="ATLauncher-Log.txt" immediateFlush="true" append="false">
            <PatternLayout pattern="[%d{dd/M/yyy HH:mm:ss a}] [%level] %m%n"/>
        </File>
	</appenders>
	<loggers>
		<root level="all">
			<appender-ref ref="ATLauncher-Console" />
			<appender-ref ref="File-Output" />
		</root>
	</loggers>
</configuration>