[Desktop Entry]
Categories=Game;
Exec=/opt/atlauncher/run.sh
Icon=/opt/atlauncher/icon.svg
Keywords=game;Minecraft;
MimeType=
Name=ATLauncher
Comment=A Launcher for Minecraft which integrates multiple different ModPacks to allow you to download and install ModPacks easily and quickly.
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
