A {
    color: #0088CC;
}

#newsHeader {
    font-weight: bold;
    font-size: 14px;
    color: #339933;
}

#newsBody {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}