[Desktop Entry]
Categories=Game;
Exec=atlauncher
Icon=atlauncher
Keywords=game;Minecraft;
MimeType=
Name=ATLauncher
Comment=A launcher for Minecraft which integrates multiple different modpacks to allow you to download and install modpacks easily and quickly.
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
